<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your post titled <%= @post.title %> was commented</h1>
    <p>
      The comment made:
      <%= @comment.body %>.<br/>
    </p>
    <p>
      Author: <%= @comment.commenter %>.
    </p>
  </body>
</html>
