<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h2>Comments</h2>
<%= link_to 'Destroy all', destroy_all_post_comments_path(@post),
:confirm => 'This deletes all comments. Are you sure?', :method => :delete, :class => 'delete' %>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<% if !@post.closed %>
  <%= render "comments/form" %>
<% else %>
  <p> Posting comments is currently disabled. </p>
<% end %>
<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
